* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  left: -99999px;
  width: 1px;
  height: 1px;
  margin: -1px;
}

.center {
  text-align: center;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  background: #222222;
  color: white;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-link {
  margin-right: 40px;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.logo-link:hover {
  background-color: purple;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.search-link {
  display: inline-block;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.search-link:hover {
  background-color: purple;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cart-link {
  margin-left: 30px;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.cart-link:hover {
  background-color: purple;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-button {
  background-color: transparent;
  border: none;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.menu-button:hover {
  background-color: purple;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.registry-link {
  margin-left: 30px;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.registry-link:hover {
  background-color: purple;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-nav {
  position: absolute;
  right: 0;
  background-color: #fff;
  color: #000;
  top: 78px;
  width: 232px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 37px 34px;
  min-height: 764px;
  z-index: 100;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.nav-list, .subnav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-wrap {
  position: relative;
}

.nav-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 24px;
}

.main-nav-close-btn {
  padding: 3px 3px 0 3px;
  position: absolute;
  right: -22px;
  top: -25px;
  border: none;
  background: #ffffff;
}

.main-nav-close {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.nav-item {
  margin: 20px 0;
}

.subnav-item {
  margin: 11px 0 11px 20px;
}

.nav-link {
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  margin-bottom: 15px;
  text-decoration: none;
}

.subnav-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.promo {
  position: relative;
  background: #F1E4E6;
  height: 764px;
}

.offer-wrap {
  height: 765px;
  background-image: url(../img/promo-bg.png);
  background-repeat: no-repeat;
  background-position-x: -225px;
  background-position-y: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.promo-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 40px;
  color: #222222;
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  margin-right: 90px;
}

.promo-title--small {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.promo-title--pink {
  color: #f16d7f;
}

.promo-bg {
  height: 764px;
  margin-left: -228px;
}

.categories {
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #fff;
}

.categories-list {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  gap: 30px;
  margin-bottom: 30px;
}

.category {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 360px;
  height: 260px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category-sale {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.category-items-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.category-txt {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}

.category-text2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1140px;
  height: 180px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback {
  background-color: #eee;
}

.products {
  padding-top: 20px;
  padding-bottom: 95px;
}

.products-title {
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 10px;
}

.products-discription {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 45px;
}

.products-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin-bottom: 63px;
}

.product {
  background-color: #F8F8F8;
  width: 360px;
  /* margin-bottom: 30px; */
}

.product-text {
  padding: 24px 28px 20px 17px;
}

.product-name {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 12px;
}

.product-txt {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.product-price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.product-link {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #F26376;
  padding: 14px 39px;
  display: inline-block;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.product-link:hover {
  background-color: purple;
  -webkit-transform: scale(2) translateY(-15px);
          transform: scale(2) translateY(-15px);
}

.features {
  height: 341px;
  background-color: #222222;
  color: white;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.feature {
  padding-top: 103px;
  width: 360px;
  list-style: none;
  text-align: center;
}

.feature-name {
  margin-top: 28px;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.feature-text {
  margin-top: 20px;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.feedback {
  background-color: #eee;
  background-image: url("../img/subscribe-bg.jpg");
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 155px;
}

.feedback-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback-left {
  text-align: center;
}

.feedback-face {
  margin-top: 97px;
  margin-bottom: 30px;
}

.feedback-left-text {
  width: 359px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.feedback-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.feedback-subscribe-header {
  width: 557px;
  margin-top: 150px;
  margin-bottom: 32px;
}

.feedback-subscribe-header1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.feedback-subscribe-header2 {
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 243px;
  right: 97px;
}

.subscribe-field {
  width: 256px;
  padding: 20px;
  background-color: lightgrey;
  border: none;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  color: #222224;
}

.subscribe-field::-webkit-input-placeholder {
  color: #222224;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  opacity: 0.67;
}

.subscribe-field:-ms-input-placeholder {
  color: #222224;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  opacity: 0.67;
}

.subscribe-field::-ms-input-placeholder {
  color: #222224;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  opacity: 0.67;
}

.subscribe-field::placeholder {
  color: #222224;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.67;
}

.subscribe-btn {
  width: 100px;
  padding: 20px;
  background-color: #f16d7f;
  border: none;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  color: #fff;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.subscribe-btn:hover {
  background-color: purple;
}

.footer {
  background-color: #222;
  color: #fff;
  height: 79px;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-top: 22px;
}

.copyright {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  margin-top: 32px;
}

.social-link {
  width: 32px;
  height: 32px;
  background-color: #fff;
  color: #000000;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.social-link:hover {
  background-color: #f16d7f;
  color: #fff;
}

.inner-title {
  padding: 60px 0;
  background-color: #F8F3F4;
}

.inner-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  text-transform: uppercase;
  margin: 0;
}

.breadcrumbs {
  background-color: #F8F3F4;
}

.breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.breadcrumbs-item {
  content: '/';
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.breadcrumbs-item:hover {
  background-color: purple;
}

.breadcrumbs-item::before {
  content: '/';
  margin-right: 10px;
}

.breadcrumbs-item:first-child::before {
  display: none;
}

.breadcrumbs-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.breadcrumbs-link--current {
  font-weight: bold;
  color: #f16d7f;
}

.breadcrumbs-link[href]:hover {
  text-decoration: underline;
  color: #f16d7f;
}

.filter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 51px;
  margin-bottom: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-heading-filter {
  display: none;
}

.details-filter {
  position: relative;
  width: 360px;
}

.filter-title {
  display: block;
  gap: 12px;
  width: 360px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-left: 15px;
  padding: 16px 0;
  cursor: pointer;
}

.filter-title-icon {
  margin-left: 10px;
}

.details-filter[open] .filter-title {
  color: #EF5B70;
}

.details-filter[open] .filter-title-icon {
  fill: #EF5B70;
}

.details-catalog-filter {
  width: 365px;
  background-color: #ffffff;
  width: 100%;
  z-index: 200;
  padding: 9px;
}

.summary-catalog-filter {
  display: block;
  cursor: pointer;
  margin-left: 17px;
  padding: 12px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
}

.catalog-filter-norm {
  position: absolute;
  width: 100%;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.catalog-filter-content {
  width: 100%;
  padding: 0 19px;
  list-style: none;
}

.catalog-filter-link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin: 13px;
}

.catalog-size-details {
  position: absolute;
}

.catalog-size-list {
  position: relative;
}

.sort-name {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-sort-summary {
  display: block;
  margin-right: 10px;
  position: relative;
}

.catalog-size-list {
  position: absolute;
  list-style: none;
  padding: 8px;
  width: 79px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  background-color: #fff;
}

.catalog-sort-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 9px 6px;
}

.catalog-sort-label-input {
  display: block;
  margin-right: 5px;
  opacity: 0.2;
}

.catalog-sort-text {
  font-size: 14px;
  line-height: 16px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  margin-top: 46px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  padding: 10px;
  color: #C4C4C4;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.pagination-item--separator {
  margin: 0 -10px;
  color: #C4C4C4;
}

.pagination-link {
  color: #C4C4C4;
  text-decoration: none;
  border: none;
  background-color: #FFFFFF;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.pagination-link:hover {
  background-color: purple;
  color: #fff;
}

.pagination-link--active {
  color: #EF5B70;
}

.registration {
  height: 148px;
  background: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-registration {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.registration-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  margin-bottom: 96px;
}

.mainform-registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: block;
}

.registration-perks {
  margin-left: 128px;
}

.yourname {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.reg-name {
  width: 360px;
  padding: 11px 18px;
  margin-top: 22px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.registration-gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 31px 0;
  gap: 20px;
}

.block-gender {
  display: block;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.registration-form-text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin: 15px 0 39px 0;
}

.form-button {
  padding: 16px 28px;
  background-color: #f16d7f;
  color: #FFFFFF;
  border: none;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.form-button:hover {
  background-color: purple;
}

.registration-perks-font {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 28px;
  list-style: none;
  content: 'V';
}

.registration-perks-li::before {
  content: url(../img/check.png);
  margin-right: 23px;
}
/*# sourceMappingURL=style.css.map */