* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

.body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    outline: 2px solid red;
    margin: 0 auto;
}

.hidden {
    position: absolute;
    left: -99999px;
    width: 1px;
    height: 1px;
    margin: -1px;
}

.center {
    text-align: center;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
}

.header {
    background: #222222;
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.logo-link {
    margin-right: 40px;
}

.cart-link {
    margin-left: 30px;
}

.menu-button {
    background-color: transparent;
    border: none;
}

.registry-link {
    margin-left: 30px;
}

.promo {
    background: #F1E4E6;
    height: 764px;
}

.promo-title {
    position: absolute;
    margin-top: 290px;
    margin-left: 661px;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo-title2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.promo-bg {
    height: 764px;
    margin-left: -230px;
}

.categories {
    padding-top: 65px;
    padding-bottom: 65px;
}

.categories-list{
    gap: 30px;
}

.category {
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    
}

.category-text {
    position: absolute;
    display: flex;
    width: 100px;
    padding: 100px;
    
}

.categories-3 {
    width: 360px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
    margin-bottom: 30px;
    
}
.category-img {
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
}

.category-sale {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF; 
}

.category-txt {
    
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.features {
    background-color: #222222;
    color: white;
}

.feedback {
    background-color: #eee;
}

.products {
    padding-top: 20px;
    padding-bottom: 95px;
}

.products-title {
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 10px;
}

.products-discription {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 45px;
}

.products-list {
    list-style: none;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 63px;
}

.product {
    background-color: #F8F8F8;
    width: 360px;
    /* margin-bottom: 30px; */
}

.product-text {
    padding: 24px 28px 20px 17px;
}

.product-name {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 12px;
}

.product-txt {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;
}

.product-price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.product-link {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #F26376;
    padding: 14px 39px;
    display: inline-block;
}

.features {
    height: 341px;
}

.features-list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.feature {
    padding-top: 103px;
    width: 360px;
    list-style: none;
    text-align: center;
}

.feature-name {
    margin-top: 28px;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.feature-text {
    margin-top: 20px;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}


.feedback {
    background-color: #eee;
    background-image: url("../img/subscribe-bg.jpg");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 155px;
}

.footer {
    background-color: #222;
    color: #fff;
    height: 79px;
    
}

.footer-list {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    list-style: none;
    display: flex;
    padding-right: 218px;
    gap: 8px;
}

.footer-link {
    /* background-color: transparent;
    border: none; */
}   


.copyright {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;

}