* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

$main-color: #F16D7F + 1 - 1;

@mixin changecolor {
    transition-property: background-color, color;
    transition-duration: 1s;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.hidden {
    position: absolute;
    left: -99999px;
    width: 1px;
    height: 1px;
    margin: -1px;
}

.center {
    text-align: center;
}



// заголовок
@import "blocks/_header.scss";



// промо
.promo {
    position: relative;
    background: #F1E4E6;
    height: 764px;
}

.offer-wrap {
    height: 765px;
    background-image: url(../img/promo-bg.png);
    background-repeat: no-repeat;
    background-position-x: -225px;
    background-position-y: bottom;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.promo-title {
    font-weight: 900;
    font-size: 48px;
    line-height: 40px;
    color: #222222;
    border-left: 12px solid $main-color;
    padding-left: 16px;
    margin-right: 90px;    
}

.promo-title--small {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.promo-title--pink {
    color: $main-color;
}

.promo-bg {
    height: 764px;
    margin-left: -228px;
}

// категории
.categories {
    padding-top: 65px;
    padding-bottom: 65px;
    background-color: #fff;
}

.categories-list{
    width: 360px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
    margin-bottom: 30px;
}

.category {
    position: relative;
    display: flex;
}

.category-text {    
    position: absolute;
    display: flex;
    justify-content: center;
    width: 360px;
    height: 260px;
    align-items: center;
    flex-direction: column;
}

.category-sale {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF; 
    margin-bottom: 5px;
}

.category-items-img {
    position: relative;
    display: flex;
    width: 1140px;
    justify-content: space-between;
    list-style: none; 
}

.category-txt {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $main-color;
}

.category-text2 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 1140px;
    height: 180px;
    align-items: center;
    flex-direction: column;
}

.feedback {
    background-color: #eee;
}

// товары
.products {
    padding-top: 20px;
    padding-bottom: 95px;
}

.products-title {
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 10px;
}

.products-discription {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 45px;
}

.products-list {
    list-style: none;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 63px;
}

.product {
    background-color: #F8F8F8;
    width: 360px;
    /* margin-bottom: 30px; */
}

.product-text {
    padding: 24px 28px 20px 17px;
}

.product-name {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 12px;
}

.product-txt {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;
}

.product-price {
    font-size: 16px;
    line-height: 19px;
    color: $main-color;
}

.product-link {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #F26376;
    padding: 14px 39px;
    display: inline-block;
    @include changecolor;
}

.product-link:hover {
    background-color: purple;
    transform: scale(2) translateY(-15px);
}

// приемущества
.features {
    height: 341px;
    background-color: #222222;
    color: white;
}

.features-list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.feature {
    padding-top: 103px;
    width: 360px;
    list-style: none;
    text-align: center;
}

.feature-name {
    margin-top: 28px;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.feature-text {
    margin-top: 20px;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

// подписка на рассылку
.feedback {
    background-color: #eee;
    background-image: url("../img/subscribe-bg.jpg");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 155px;

    &-list {
        display: flex;
        justify-content: space-between;
    }
    &-left {
        text-align: center;
    }
    &-face {
        margin-top: 97px;
        margin-bottom: 30px;
    }
}

.feedback-left-text{
    width: 359px;   
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.feedback-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.feedback-subscribe-header {
    width: 557px;
    margin-top: 150px;
    margin-bottom: 32px;
}

.feedback-subscribe-header1 {   
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
 }

.feedback-subscribe-header2 {
    font-weight: normal;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.subscribe {
	display: flex;
    position: absolute;
    top:  243px;
    right: 97px;
       
}

.subscribe-field {
	width: 256px; 
    padding: 20px;
	background-color: lightgrey;
	border: none;
	border-top-left-radius: 22px;
	border-bottom-left-radius: 22px;
	color: #222224;
}
.subscribe-field::placeholder {
	color: #222224;
	font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    opacity: 0.67;
}

.subscribe-btn {
	width: 100px; 
    padding: 20px;
	background-color: $main-color;
	border: none;
	border-top-right-radius: 22px;
	border-bottom-right-radius: 22px;
	color: #fff;
    @include changecolor;

    &:hover {
        background-color: purple;
    }
}


// подвал
@import "blocks/_footer.scss";

.inner-title {
    padding: 60px 0;
    background-color: #F8F3F4;
}

.inner-title-wrap {
    display: flex;
    justify-content: space-between;
}

.page-title {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: $main-color;
    text-transform: uppercase;
    margin: 0;
}

.breadcrumbs {	
	background-color: #F8F3F4;
}

.breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.breadcrumbs-item {
    content: '/';
    @include changecolor;

    &:hover {
        background-color: purple;
    }
}

.breadcrumbs-item::before {
  content: '/';
  margin-right: 10px;
}

.breadcrumbs-item:first-child::before {
  display: none;
}

.breadcrumbs-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  transition: 0.2s;
}

.breadcrumbs-link--current {
  font-weight: bold;
  color: $main-color;
}

.breadcrumbs-link[href]:hover {
  text-decoration: underline;
  color: $main-color;
}

.filter-box {
    display: flex;
    gap: 30px;
    margin-top: 51px;
    margin-bottom: 64px;
}

.filter-title {
    display: flex;
    gap: 12px;
    width: 360px; 
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-left: 15px;  
    padding: 15px;  
}

.details-filter {
    position: relative;
}

.details-filter[open] .filter-title  {
    color: #EF5B70;
}

.details-filter[open] .filter-title-icon {
    fill: #EF5B70;
}

.details-catalog-filter {
    margin-bottom: 18px;
    width: 365px;
    background-color: blue;
}

.summary-catalog-filter {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 8px;
    border-left: 5px solid #EF5B70;
}

summary-catalog-filter::-webkit-details-marker {
    display: none;
  }

.catalog-filter-content {
     position: absolute;
     width: 100%;
     z-index: 200;
     padding: 19px;
}







.sort {
    display: flex;
    gap: 20px;
}

.sort-name {
    display: flex;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    gap: 10px;
}

.sort-name::after {
    content: url(../img/arrow.png) ;
}

.pagination {
	display: flex;
	justify-content: center;
	padding: 20px 0;
    margin-top: 46px;
}

.pagination-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	gap: 23px;	
	border: 1px solid #C4C4C4;
	border-radius: 5px;
	padding: 10px;
    color: #C4C4C4;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

 .pagination-item--separator {
	margin: 0 -10px;
	color: #C4C4C4;
}

.pagination-link {
	color: #C4C4C4;
    text-decoration: none;
    border: none;
    background-color: #FFFFFF;
    @include changecolor;

    &:hover {
        background-color: purple;
        color: #fff;
    }
}

.pagination-link--active {
	color: #EF5B70;
}

.registration {
    height: 148px;
    background: #F8F3F4;
    display: flex;
    align-items: center;
}



.head-registration {    
    font-size: 24px;
    line-height: 29px;
    color: $main-color;
}

.registration-main {
    display: flex;
    margin-top: 64px;
    margin-bottom: 96px;
}

.mainform-registration {
    display: flex;
    flex-direction: column;
    display: block;  
    // height: 360px;
}

.registration-perks {
    margin-left: 128px;
    
}

.yourname{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.reg-name{
    width: 360px;
    padding: 11px 18px;
    margin-top: 22px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
}

.registration-gender{
    display: flex;
    margin: 31px 0;
    gap: 20px;    
}

.block-gender {
    display: block;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

.registration-form-text {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin: 15px 0 39px 0;
}

.form-button {
    padding: 16px 28px;
    background-color: $main-color;
    color: #FFFFFF;
    border: none;
    @include changecolor;

    &:hover {
        background-color: purple;
    }    
}

.registration-perks-font {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 28px;
    list-style: none;
    content: 'V'; 
}


.registration-perks-li::before {
    content: url(../img/check.png) ;
    margin-right: 23px;
}

