// заголовок
.header-wrap {
    display: flex;
    justify-content: space-between;
}

.header {
    background: #222222;
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;

    &-left {
        display: flex;
        align-items: center;
        }

    &-right {
        display: flex;
        align-items: center;
        }
    }

.logo-link {
    margin-right: 40px;
    @include changecolor;

    &:hover {
    background-color: purple;
    transform: rotate(180deg);
    }
}

.search-link {
    display: inline-block;
    @include changecolor;

    &:hover {
    background-color: purple;
    transform: rotate(180deg);
    }
}

.cart-link {
    margin-left: 30px;
    @include changecolor;

    &:hover {
        background-color: purple;
        transform: rotate(180deg);
    }
}

.menu-button {
    background-color: transparent;
    border: none;
    @include changecolor;

    &:hover {
        background-color: purple;
        transform: rotate(180deg);
    }
}

.registry-link {
    margin-left: 30px;
    @include changecolor;

    &:hover {
        background-color: purple;
        transform: rotate(180deg);
    }
}